@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700;800&display=swap');

body {
  margin: 0;
  font-family:'Gemunu Libre', sans-serif;
  color: #ffecd5;
}

code {
  font-family: 'Gemunu Libre', sans-serif;
}

:root {
  --green-one: #8d9c84;
  --green-two: #445739;
  --green-three: #72806a;
  --color-four: #ffecd5;
}
footer{
  text-align: center;
  font-size: 25px;
}
footer p{
  font-weight: 800;
  text-decoration: underline;
}
footer a{
color: var(--color-four);
margin: 15px;
font-weight: bold;
text-decoration: none;
}

#buttons{
  border: none;
  background-color: var(--green-two);
  color: var(--color-four);
  margin-left: 16%;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
  font-weight: bold;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 20px
}
#buttons:hover{
  cursor: pointer;
}
#pfp{
  max-height: 300px;
  border: 3px solid var(--color-four);
  border-radius: 10px;
  margin-bottom: 10%;
  margin-top: 3%;
}
.middle{
  background-color: var(--green-three);
  font-size: 25px;
  text-align: center;
}
#list{
  list-style: none;
  margin-right: 2.5%;
}
#resDl{
  color: var(--color-four);
  margin:10%;
}
#aboutme{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#bio {
  width: 40%;
  margin: 15px;
  margin-top: 3%;
  margin-right: 5%;
}
