@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700;800&display=swap');

body {
  margin: 0;
  font-family:'Gemunu Libre', sans-serif;
  color: #ffecd5;
}

code {
  font-family: 'Gemunu Libre', sans-serif;
}

:root {
  --green-one: #8d9c84;
  --green-two: #445739;
  --green-three: #72806a;
  --color-four: #ffecd5;
}
footer{
  text-align: center;
  font-size: 25px;
}
footer p{
  font-weight: 800;
  text-decoration: underline;
}
footer a{
color: var(--color-four);
margin: 15px;
font-weight: bold;
text-decoration: none;
}

#pfp{
  max-height: 300px;
  margin: 2px;
  border: 3px solid var(--color-four);
  border-radius: 10px;
  margin-bottom: 10%;
}
#middle{
  background-color: var(--green-three);
  font-size: 25px;
}
#aboutme{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#bio {
  width: 40%;
  margin: 15px;
}